<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44489253879-kau7jb2h1o1kikrmcjr94423146hju2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44489253879-kau7jb2h1o1kikrmcjr94423146hju2f</string>
	<key>API_KEY</key>
	<string>AIzaSyC3qx4xTzDP5uVJtySPBXe_kNyA4rjqXJE</string>
	<key>GCM_SENDER_ID</key>
	<string>44489253879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacobfranco.ApolloAlpha</string>
	<key>PROJECT_ID</key>
	<string>apolloalpha-e22df</string>
	<key>STORAGE_BUCKET</key>
	<string>apolloalpha-e22df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44489253879:ios:c8c79db914c295a20d44f2</string>
</dict>
</plist>